*
!.gitignore

!cstrike/
!cstrike/gfx/
!cstrike/gfx/**

!cstrike/
!cstrike/maps/
!cstrike/maps/**

!cstrike/
!cstrike/models/
!cstrike/models/**

!cstrike/
!cstrike/sound/
!cstrike/sound/**

!cstrike/
!cstrike/sprites/
!cstrike/sprites/**

!*.wad